// spacing for major div block
.spacing > * + * {
   margin-top: var(--default-space, 1rem);
}

// adjust text to real div center
.text-bottom {
   margin-top: auto;
}

.split {
   display: flex;
   gap: 1rem;
   flex-direction: column;

   @media (min-width: 768px) {
      flex-direction: row;
   }
}
